body{
	background: #1B1B1B;
}

.content-wrapper{
	padding-top: 50px;
    padding-bottom: 50px;
}

.header{
	//background: #EAEAEA;
	background: #eb6600 url("../images/diagmonds.png") fixed;
	margin-top: 50px;
	padding-top: 15px;
}

#top{
	background: rgba(255, 255, 255, 0.79);
	margin-top: 50px;
}


.header .profile-content .social a {
	background: #90959A;
	padding: 5px 10px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #fff;
	text-align: center;
}

.header .profile-content .social a:hover {
	background: #647180;
}
.panel-heading{
	//margin-top: 8px;
}

.panel{
	//border-radius: 3px;
}

#github-cal{
	padding-top: 40px;
	padding-bottom: 40px;
}
div#github-cal > .js-calendar-graph {
	max-width: 100%;
}

svg.js-calendar-graph-svg {
	max-width: 100%;
}
#github-feed{
	height: 600px;
}

#github-feed, #github-feed *, #github-feed :after, #github-feed :before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}